* {
	margin:0;
	padding:0;
}

html, body {
	height:100%;
	font-family: 'Lato', sans-serif;
	-webkit-background-size:100%;
}

body {
	background-color: #000;
	min-width:360px;
}

body.slideshow {
    overflow:hidden;
}

.navigation {
	position:fixed;
	height:75px;
	width:100%;
	background:rgb(0,0,0);
	background: rgba(0,0,0,0.75);
	border-bottom: 1px solid silver;
	text-align: center;
	padding-top:15px;
	z-index: 2;
}

.center {
	display:inline;
	margin: auto;
}

.logo {
	margin-top: 10px;
	opacity:1;
}

.hero-buttons {
	position:absolute;
	width:100%;
	text-align: center;
	bottom:5%;
}

.slide-show {
	position:absolute;
	top:0;left:0;bottom:0;right:0;
	height: 100%;
	width: 100%;
	display:none;
}

.slide-caption {
	position:absolute;
	margin:auto;
	bottom:0;
	left:20%;
	right:20%;
	text-align: center;
	padding-bottom:40%;
}

.slide-caption-header {
	
	font-size:4em;
	color:#000;
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,0.5);
	padding:5px;
	font-weight: bold;
}

.slide-caption-text {
	
	font-size:2em;
	color:#fff;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.37);
	padding:5px;
	font-weight:bold;
}

.slide-image {
	position:absolute;
	width:100%;
	height:100%;
	background-repeat: no-repeat;
	background-position: top center;
	-webkit-background-size: 100% 100%;
	-moz-background-size:100% 100%;
	-o-background-size:100% 100%;
	background-size: cover;
}

.slide {
	position:absolute;
	top:0;left:0;bottom:0;right:0;
}

#slide-no-1 > .slide-image {
	background-image: url('../images/home-hero-1-1920x1140.jpg');
	-moz-border-image: url('../images/home-hero-1-1920x1140.jpg') 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/home-hero-1-1920x1140.jpg', sizingMethod='scale')";
}

#slide-no-2 > .slide-image {
	background-image: url('../images/home-hero-2-1920x1140.jpg');
	-moz-border-image: url('../images/home-hero-2-1920x1140.jpg') 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/home-hero-2-1920x1140.jpg', sizingMethod='scale')";
}

#slide-no-3 > .slide-image {
	background-image: url('../images/home-hero-3-1920x1140.jpg');
	-moz-border-image: url('../images/home-hero-3-1920x1140.jpg') 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/home-hero-3-1920x1140.jpg', sizingMethod='scale')";
}

#slide-no-4 > .slide-image {
	background-image: url('../images/home-hero-4-1920x1140.jpg');
	-moz-border-image: url('../images/home-hero-4-1920x1140.jpg') 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/home-hero-4-1920x1140.jpg', sizingMethod='scale')";
}

#slide-no-5  > .slide-image{
	background-image: url('../images/home-hero-5-1920x1140.jpg');
	-moz-border-image: url('../images/home-hero-5-1920x1140.jpg') 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/home-hero-5-1920x1140.jpg', sizingMethod='scale')";
}

#slide-no-6 > .slide-image {
	background-image: url('../images/home-hero-6-1920x1140.jpg');
	-moz-border-image: url('../images/home-hero-6-1920x1140.jpg') 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/home-hero-6-1920x1140.jpg', sizingMethod='scale')";
}

#slide-no-7 > .slide-image {
	background-image: url('../images/home-hero-7-1920x1140.jpg');
	-moz-border-image: url('../images/home-hero-7-1920x1140.jpg') 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/home-hero-7-1920x1140.jpg', sizingMethod='scale')";
}



.hero-buttons .btn.show-video {
	
}

.hero-buttons .btn.login {
	background-image: linear-gradient(#9cc73a, #21a13e);
	margin:5px;
	height:34px;
	font-size:1.1em;
}

.hero-buttons button {
	color:#fff;
	text-decoration: none;
	font-size:1.1em;
	font-weight:300;
	margin-right:10px;
	text-transform: uppercase;
}
nav .menu-button, .close-slide-menu > .menu-button {
	margin: 10px 10px;
}

nav li .menu-button {
	margin:0;
}

#sliding-menu > ul > li:nth-child(1) {
	height:50px;
	padding:10px;
}

nav .menu-button a {
	position:relative;
	color: white;
	text-decoration: none;
	font-size:1.1em;
	font-weight:300;
	margin-right:10px;
	text-transform: uppercase;
}

.sign-up-button {
	background-color:#000;
	border: 3px solid #21a13e;
	padding: 4px 5px 5px 5px;
	border-radius: 3px;
}

.login-button {
	background-color:#000;
	border: 3px solid #18a8c2;
	padding: 4px 10px 5px 10px;
	border-radius: 3px;

}


.slide-indicators {
	/*
	background-color:rgb(255,255,255);
	background-color: rgba(0255,255,255,.25); */
	display:inline-block;
	padding:10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px; /* for old Konqueror browsers */
	margin-top:10px;
}

.slide-indicators i {
	color:#555;
	margin:5px;
	cursor:pointer;
	font-size:0.5em;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px; /* future proofing */
	-khtml-border-radius: 12px; /* for old Konqueror browsers */
	border:3px solid white;
	background-color:#555;
}



.slide-indicators i.active {
	color:#fff;
	background-color: #555;
	border-color:#555;
}


#sliding-menu {
	position:absolute;
	left:-250px;
	top:0;
	bottom:0;
	width:250px;
	background-color: #333;
	z-index:3;
	padding-top:10px;
}

#sliding-menu ul {
	
	list-style: none;
	color:#fff;
}

#sliding-menu ul li {
	padding: 3px 20px;
	border-bottom:1px solid silver;
}


#sliding-menu ul li.button {
	font-size: 1.5em;
	cursor: pointer;
}

#sliding-menu.hidden {
	left:-250px;
}

#sliding-menu.visible {
	left:0px;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.55);
	-moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.55);
	box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.55);
}

#sliding-menu .fa-times {
	font-size:2em;
	cursor:pointer;
}

.nooverflow {
	overflow:hidden;
}

.big-button {
	background-color: #a8ce39;
	text-transform: uppercase;
	text-align: center;
	color:black;
	font-size: 1.1em;
	cursor:pointer;
	margin:10px 0;
	padding: 10px 0;
}

.menu-fade {
	position:absolute;
}

.video-modal {
	margin:auto;
	position:absolute;
	top:0; left:0; right:0; bottom:0;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.9);
	display:none;
	z-index:4;
}

.video-modal.opened {
	display:block;
}

.video-modal.closed {
	display:none;
}

.video-container {
	position:relative;
	height:100%;
	text-align:center;
}

.video-container a.close-container {
	position:absolute;
	bottom:10px;
}

.video-container object,
.video-container embed,
.video-container #ytplayer {
	position:absolute;
	top:0; left:0; bottom:0; right:0;
	width:50%;
	height:50%;
	background-color: transparent;
	overflow: auto;
	margin:auto;

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 568px) {
	/* Styles */
	.slide-caption {
		width:auto;
		height:auto;
		position:absolute;
		margin:auto;
		bottom:0;
		text-align: center;
		left:5%;
		right:5%;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
	/* Styles */
	.slide-caption {
		padding-bottom:10%;
	}

	.video-container #ytplayer {
		width:100%;
		height:100%;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 768px) {
	/* Styles */
	.slide-caption {
		width:auto;
		height:auto;
		position:absolute;
		margin:auto;
		bottom:0;
		text-align: center;
		padding-bottom:19%;
	}

	.slide-caption-header {
		font-size:2em;
	}

	.slide-caption-text {
		font-size:1em;
	}

	.video-container #ytplayer {
		width:320;
		height:auto;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
	/* Styles */

	.slide-caption {
		padding-bottom: 20%;
		left:10%;
		right:10%;
	}

	.slide-caption-header {
		font-size:4em;
	}

	.slide-caption-text {
		font-size:2em;
	}

	.video-container #ytplayer {
		width:75%;
		height:75%;
	}
}

/* iPads (landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
	/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
	/* Styles */

	.slide-caption {
		padding-bottom:20%;
	}

	.slide-caption-header {
		font-size:4em;
	}

	.slide-caption-text {
		font-size:2em;
	}

}

@media only screen and (min-width: 1024px){
	.slide-caption {
		padding-bottom:15%;
		left:20%;
		right:20%;
	}

	.video-container #ytplayer {
		width:75%;
		height:75%;
	}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
	/* Styles */
	.slide-caption {
		padding-bottom:11%;
		left:20%;
		right:20%;
	}

	.video-container #ytplayer {
		width:75%;
		height:75%;
	}
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
	.slide-caption {
		padding-bottom: 11%;
		left:25%;
		right:25%;
	}

	.video-container #ytplayer {
		width:75%;
		height:75%;
	}
}

#login-form {
	position: absolute;
	top: 74px;
	right: 0px;
	z-index: 3;
	background-color: rgba(0,0,0,0.75);
	padding: 0 10px 8px 8px;
	border-left: 1px solid silver;
	border-bottom: 1px solid silver;
	border-bottom-left-radius: 13px;
	border-top: 1px solid black;
	display:none;
}

#login-form input {
	width: 120px;
	border:1px solid silver;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px; /* for old Konqueror browsers */
}

.landscape {
	width:640px;
	height:480px;
}

.portrait {
	width:360px;
	height:270px;
}

#sliding-menu .button:before {
	width:16px;
	height:16px;
	display:inline-block;
	margin-right:10px;
	content:"";
	-webkit-background-size: 100% 100%;
	-moz-background-size:100% 100%;
	-o-background-size:100% 100%;
	background-size: cover;
}

.header-with-line {
	font-size:1.5em;
	color:silver;
	border-top:1px solid #666;
	text-align: center;
	width:420px;
	display:inline-block;
	margin:50px auto -20px auto;
}

.header-with-line span {
	background:#000;
	position:relative;
	top:-17px;
	width:100px;
	display:inherit;
	margin-bottom: 20px
}

.login-form input[type=password],
.login-form input[type=text],
.login-form input[type=submit],
.login-form input[type=email],
.login-form input[type=tel]{
	padding:10px 10px;
	width:420px;
	font-size:1em;
	margin-top:20px;
}

::-webkit-input-placeholder {
  font-family:lato;
  font-size:1em;
  font-weight:lighter;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}

/*
#sliding-menu .button.login:before {
	background: url('../images/Image4.png') no-repeat top center;
}

#sliding-menu .button.signup:before {
	background: url('../images/Image18.png') no-repeat top center;
}

#sliding-menu .button.service-plans:before {
	background: url('../images/Image21.png') no-repeat top center;
}

#sliding-menu .button.legal:before {
	background: url('../images/Image25.png') no-repeat 0 0;
}

#sliding-menu .button.help:before {
	background: url('../images/Image26.png') no-repeat 0 0;
}

#sliding-menu .button.about:before {
	background: url('../images/Image4.png') no-repeat 0 0;
}
*/

.faq-text {

    text-align: left;
    font-size:1.5em;
    color:white;
}

.faq-text ul {
    margin: 10px 0 10px 10px;
    list-style: none;
    color:silver;
}

.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group {
    margin-left:-33px;
    margin-top:20px;
    height:44px;
}